.banner-section {

    &__container {
    }

    // .banner-section__inner

    &__inner {
        width: 100%;
    }

    // .banner-section__header

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    // .banner-section__title

    &__title {
    }

    // .banner-section__buttons

    &__buttons {
        display: flex;
        align-items: center;
    }
    &__body {
        width: 100%;
        height: 420px;
    }
    &__slider {
        width: 100%;
        height: 100%;
        // overflow: hidden;
    }
    &__slide {
        width: 100%;
        height: 100%;
        border-radius: var(--rounded-sm);
        overflow: hidden;
        position: relative;
    }
     &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .banner-section__detail

    &__detail {
        position: absolute;
        min-width: 304px;
        max-width: 350px;
        left: 30px;
        bottom: 30px;
        z-index: 1;
        padding: 20px;
        background-color: var(--background-block);
        border-radius: var(--rounded-sm);
        @media screen and (max-width:640px) {
            width: 100%;
            display: inline-block;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
        }
    }

    // .banner-section__time

    &__time {
        font-size: 14px;
        text-align: left;
        color: var(--bacground-black);
        font-weight: var(--font-medium);
        margin-right: 10px;
        opacity: .5;
    }

    // .banner-section__category

    &__category {
        opacity: .5;
        font-size: 14px;
        text-align: left;
        color: var(--bacground-black);
        text-transform: uppercase;
        font-weight: var(--font-medium);
    }

    // .banner-section__name

    &__name {
        margin: 7px 0 15px 0;
        font-size: 22px;
        text-align: left;
        color: var(--bacground-black);
        text-transform: uppercase;
        font-weight: var(--font-medium);
    }

    // .banner-section__link

    &__link {
        text-align: left;
        color: var(--bacground-black);
        font-weight: var(--font-medium);
        &:hover
        {
            color: var(--color-primary);
            text-decoration: underline;
        }
    }
}
.btn-prev{
    margin-right: 10px;
}
.btn-prev,
.btn-next{
    width: 35px;
    height: 35px;
    border-radius: var(--rounded-sm);
    font-size: 22px;
    background-color: var(--background-black);
    color: var(--bacground-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}